# Assignment 01
String concatinating and formating

In [50]:
name = "Imran Haider"
age = 27
country = "Austraila"

string = "My name is " +name+ ". I am " +str(age)+ " My country name is " +country+ "."
print(string)

My name is Imran Haider. I am 27 My country name is Austraila.

# Assignment 02
String formating using format()

In [32]:
item = 'Cell Phones'
price = 140000
quantity = 4

total_amount = price * quantity

string = """
I bought {} {}'s at {} each for a total of PKR {}

""".format(quantity, item, price, total_amount)
print("Total cost of total cellphones will be:")
print(total_amount)
print(string)

Total cost of total cellphones will be:
560000

I bought 4 Cell Phones's at 140000 each for a total of PKR 560000

# Assignment 03
String interpolation using f

In [33]:
city = "Murree"
temp = 15

string = f"""
The temprature of {city} is {temp}C◦
"""
print(string)

The temprature of Murree is 15C◦

# Assignment 04
string formating using %()

In [26]:
firstname = "Imran"
lastname = "Haider"
birthyear = 1997
currentyear = 2023

age = currentyear - birthyear

string = "My name is %s %s. I am %d years old." %(firstname,lastname,age)
print(string)

My name is Imran Haider. I am 26 years old.

# Assignment 05
Combining formating methods

In [40]:
product_name = "Samsung S10"
discount_price = 10
original_price = 110000

discounted_price = original_price*(1-discount_price/100)

string= f"""
Electronic Accessories
Product Name \t\t : \t {product_name}
Discount Rate \t\t : \t {discount_price} %
Original Price \t\t : \t {original_price} PKR
Discounted Price \t : \t {discounted_price} PKR
"""
print(string)

Electronic Accessories
Product Name 		 : 	 Samsung S10
Discount Rate 		 : 	 10 %
Original Price 		 : 	 110000 PKR
Discounted Price 	 : 	 99000.0 PKR